style

.site-header {
    display: inline-flexbox;
    justify-content: space-between;
    align-items: center;
  }


.flex-container {
    display:flex
}

.flex-item {
display: inline;
}